
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section class="py-24 relative bg-gray-100">
    <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
        <div class="w-full justify-start items-center gap-12 grid lg:grid-cols-2 grid-cols-1">
            <div class="w-full justify-center items-start gap-6 grid sm:grid-cols-2 grid-cols-1 lg:order-first order-last">
                <div class="pt-24 lg:justify-center sm:justify-end justify-start items-start gap-2.5 flex">
                    <img class="rounded-lg shadow-lg object-cover" src="https://www.pepperconstruction.com/sites/default/files/images/community-east-hospital-teg-architects-810_3138.jpg" alt="About Us image" />
                </div>
                <img class="sm:ml-0 ml-auto rounded-lg shadow-lg object-cover" src="https://www.act.gov.au/__data/assets/image/0004/2529706/Emergency-Dept-web.jpg" alt="About Us image" />
            </div>
            <div class="w-full flex-col justify-center lg:items-start items-center gap-10 inline-flex">
                <div class="w-full flex-col justify-center items-start gap-8 flex">
                    <div class="w-full flex-col justify-start lg:items-start items-center gap-3 flex">
                        <h2 class="text-gray-900 text-4xl font-bold font-manrope leading-normal lg:text-start text-center">
                            Chăm Sóc Sức Khỏe Toàn Diện Cùng Bệnh Viện HUIT
                        </h2>
                        <p class="text-gray-600 text-base font-normal leading-relaxed lg:text-start text-center">
                            Bệnh Viện Tân Phú là nơi hội tụ của những bác sĩ tận tâm và đội ngũ y tế chuyên nghiệp, luôn sẵn sàng mang đến những dịch vụ y tế chất lượng cao. Với hơn 33 năm kinh nghiệm, chúng tôi tự hào đã chăm sóc và điều trị cho hàng ngàn bệnh nhân với sự tận tâm, chuyên nghiệp và lòng nhân ái.
                        </p>
                    </div>
                    <div class="w-full lg:justify-start justify-center items-center sm:gap-10 gap-5 inline-flex">
                        <div class="flex-col justify-start items-start inline-flex text-center">
                            <h3 class="text-indigo-600 text-5xl font-bold font-manrope leading-normal">33+</h3>
                            <h6 class="text-gray-500 text-base font-normal leading-relaxed">Năm Kinh Nghiệm</h6>
                        </div>
                        <div class="flex-col justify-start items-start inline-flex text-center">
                            <h4 class="text-indigo-600 text-5xl font-bold font-manrope leading-normal">125+</h4>
                            <h6 class="text-gray-500 text-base font-normal leading-relaxed">Dự Án Thành Công</h6>
                        </div>
                        <div class="flex-col justify-start items-start inline-flex text-center">
                            <h4 class="text-indigo-600 text-5xl font-bold font-manrope leading-normal">52+</h4>
                            <h6 class="text-gray-500 text-base font-normal leading-relaxed">Khách Hàng Hài Lòng</h6>
                        </div>
                    </div>
                </div>
                <button class="sm:w-fit w-full px-3.5 py-2 bg-indigo-600 hover:bg-indigo-800 transition-all duration-300 ease-in-out rounded-lg shadow-md transform hover:scale-105">
                    <span class="px-1.5 text-white text-sm font-medium leading-6">Tìm Hiểu Thêm</span>
                </button>
            </div>
        </div>
    </div>
</section>
